body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    gap: 40px;
}

.album-info {
    max-width: 50%;
}

.artist {
    font-size: 40px;
    font-weight: bold;
}

.album-title {
    font-size: 28px;
    color: white;
    font-weight: bold;
}

.description {
    font-size: 16px;
    margin-top: 10px;
    line-height: 1.5;
}

.price {
    font-size: 22px;
    color: white;
    font-weight: bold;
    margin: 15px 0;
}

.buy-btn {
    padding: 12px 28px;
    background-color: red;
    border: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
    justify-content: center;
    align-content: center;
    position: relative;
    margin-top: 0;
    align-self: center;
}
.buy-btn:hover {
   transform: scale(1.1);
    transition: all 0.4s ease;
}

.album-cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
}

.album-cover img {
    width: 200px;
    border-radius: 10px;
}

.other-albums {
    padding: 20px 40px;
    justify-content: center;
    align-items: center;
}

.other-albums h3 {
    display: flex;
    margin-bottom: 15px;
    justify-content: center;
}

.album-list {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.album-item {
    text-align: center;
}

.album-item img {
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
}